{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<br>
<h1 align="center"> ESPORT NEWS </h1>
<br>
<br>
<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Kompetisi Esport Terbesar Akan Dimulai</h1>
          <h2>Mobile Legend Profesional League (MPL) akan digelar Offline.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="https://www.youtube.com/watch?v=y1gLg_hsXXI&ab_channel=MPLIndonesia" class="glightbox btn-watch-video"> <i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="https://awsimages.detik.net.id/community/media/visual/2020/09/11/mpl-indonesia_169.jpeg?w=700&q=90" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
  </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Berita Terkini</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://img.okezone.com/okz/500/library/images/2020/10/30/iklk04b32xd4gw7y7mtz_13577.jpg" alt="..." />
                    <h5>Kompetisi Di acara TV Nasional</h5>
                    <p class="font-weight-light mb-0">Stasiun TV Nasional Menyiarkan Pertandingan mencari 
                        Talenta baru dalam Esport</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://images.tokopedia.net/img/cache/700/hDjmkQ/2021/2/28/39e851c5-cc68-4526-93e3-407eb0793c2d.jpg" alt="..." />
                    <h5>Squad ULTIMA Mencari Member</h5>
                    <p class="font-weight-light mb-0">Dicari Member dalam Tim Squad Kami</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="https://esports.id/img/article/410520200617101711.jpg" alt="..." />
                    <h5>Tournament Total 100 Juta.</h5>
                    <p class="font-weight-light mb-0">Join Tournament SEKARANG dan menangkan Hadiah nya</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<br>
<section id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Team</h2>
        <p>Kelompok 6PM</p>
        <br>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="https://icon-library.com/images/personal-profile-icon/personal-profile-icon-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Andruw Darma</h4>
              <span>Chief Executive Officer</span>
              <p>Website ini diciptakan khusus para pencinta game</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="https://icon-library.com/images/personal-profile-icon/personal-profile-icon-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Aditya Nur Hidayatullah</h4>
              <span>Product Manager</span>
              <p>Esport adalah olahraga dengan kerja sama yang tinggi</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="https://icon-library.com/images/personal-profile-icon/personal-profile-icon-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Orvala Azzuri</h4>
              <span>CTO</span>
              <p>Membuat Website Esport memudahkan para gamer untuk mencari squad dan berita</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
            <div class="pic"><img src="https://icon-library.com/images/personal-profile-icon/personal-profile-icon-3.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Arialdi Rahmadi Putra</h4>
              <span>Accountant</span>
              <p>Membuat Tournament dengan Hadiah terbaik akan memikat para gamer</p>
              <div class="social">
                <a href=""><i class="ri-twitter-fill"></i></a>
                <a href=""><i class="ri-facebook-fill"></i></a>
                <a href=""><i class="ri-instagram-fill"></i></a>
                <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="https://icon-library.com/images/personal-profile-icon/personal-profile-icon-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ghozal Imam Perdanan</h4>
                <span>Design UX</span>
                <p>Website Masih dalam tahap pengembangan</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="https://icon-library.com/images/personal-profile-icon/personal-profile-icon-3.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>M.Zarvah Naufal</h4>
                <span>Desain UI</span>
                <p>The Best dah pokoknya</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

      </div>

    </div>
  </section>
<br>
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#!">About</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Contact</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                    <li class="list-inline-item">⋅</li>
                    <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}