{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<br>
<form class="d-flex input-group w-auto">
  <input
    type="search"
    class="form-control rounded"
    placeholder="Search"
    aria-label="Search"
    aria-describedby="search-addon"
  />
  <span class="input-group-text border-0" id="search-addon">
    <i class="fas fa-search"></i>
  </span>
</form>
<br>
<div class="container-fluid bg-primary px-0 px-md-5 mb-5" >
  <div class="row align-items-center px-3">
    <div class="col-lg-6 text-center text-lg-left">
      <br>
      <h4 class="text-white mb-4 mt-5 mt-lg-0 text-center">Lapak Esport</h4>
      <h1 class="display-4 font-weight-bold text-white">
        New Approach to Looking for Esport Team or Tournament 
      </h1>
      <p class="text-white mb-4">
        Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
        sit. Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed
        ipsum at ipsum nonumy amet. Clita lorem dolore sed stet et est justo
        dolore.
      </p>
      <a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>
    </div>
    <div class="col-lg-6 text-center text-lg-right">
      <img class="img-fluid mt-3" src="https://playvalorant.com/static/agents-group-539f9e91c0ca94a88baafa239808180b.png" alt="" />
    </div>
  </div>
  <br>
</div>
<!-- Header End -->

<!-- Facilities Start -->
<div class="">
  <h2 class="text-center">News</h2>
</div>  
<div class="container-fluid pt-2">
  <div class="container pb-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">
          <i class="flaticon-050-fence h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-1">
              <img class="img-fluid mt-2" src="https://cdn.antaranews.com/cache/730x487/2021/11/22/Esports-Mobile-Game-Of-The-Year.jpg" alt="">
              <h4>Free Fire</h4>
            <p class="m-0">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">
          <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-1">
            <img class="img-fluid mt-2" src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" alt="">
            <h4>PUBG Mobile</h4>
            <p class="m-0">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">
          <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-1">
            <img class="img-fluid mt-2" src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" alt="">
            <h4>Mobile Legend</h4>
            <p class="m-0">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">
          <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-1">
            <img class="img-fluid mt-2" src="https://deluxe.news/wp-content/uploads/2022/04/Talon-Esports-unveils-Dota-2-deal-with-M88-Mansion.png" alt="">
            <h4>League of Legend</h4>
            <p class="m-0">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">
          <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-1">
            <img class="img-fluid mt-2" src="https://img.beritasatu.com/cache/investor/798x449-2/1580392248.jpg" alt="">
            <h4>Dota 2</h4>
            <p class="m-0">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pb-1">
        <div class="d-flex bg-light shadow-sm border-top rounded mb-4" style="padding: 30px">
          <i class="flaticon-022-drum h1 font-weight-normal text-primary mb-3"></i>
          <div class="pl-1">
            <img class="img-fluid mt-2" src="https://i.ytimg.com/vi/tuYymJQHeO8/maxresdefault.jpg" alt="">
            <h4>Valorant</h4>
            <p class="m-0">
              Kasd labore kasd et dolor est rebum dolor ut, clita dolor vero
              lorem amet elitr vero...
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Facilities Start -->

<!-- create team -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="https://media.esportsedition.com/wp-content/uploads/2018/10/Sumail.png"
          alt=""
        />
      </div>
      <div class="col-lg-7">
        <p class="section-title pr-5">
          <span class="pr-2">Looking for team or you can create our own Team</span>
        </p>
        <h1 class="mb-4">Create Team</h1>
        <p>
          Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo
          dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo.
          Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
          dolor
        </p>
        <div class="row pt-2 pb-4">
          <div class="col-6 col-md-8">
            <ul class="list-inline m-0">
              <li class="py-2 border-top border-bottom">
                <i class="fa fa-check text-primary mr-3"></i>Already Verified
              </li>
              <li class="py-2 border-bottom">
                <i class="fa fa-check text-primary mr-3"></i>Responsible
              </li>
              <li class="py-2 border-bottom">
                <i class="fa fa-check text-primary mr-3"></i>Be Active Owner
              </li>
            </ul>
          </div>
        </div>
        <a href="" class="btn btn-primary mt-2 py-2 px-4">Create</a>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!-- join Tournament Start -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="text-center pb-2">
      <p class="section-title px-5">
        <span class="px-2">Looking For Tournament</span>
      </p>
      <h1 class="mb-4">Available Tournament</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="https://assets.digination.id/crop/0x0:0x0/x/photo/2021/05/24/3657640278.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Tournament 1</h4>
            <p class="card-text">
              Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
              ipsum duo et no et, ipsum ipsum erat duo amet clita duo
            </p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Level</strong>
              </div>
              <div class="col-6 py-1">Amateur</div>
            </div>
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Total Slots</strong>
              </div>
              <div class="col-6 py-1">20 Teams</div>
            </div>
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Time</strong>
              </div>
              <div class="col-6 py-1">08:00 - 10:00</div>
            </div>
            <div class="row">
              <div class="col-6 py-1 text-right border-right">
                <strong>Enter Fee Fee</strong>
              </div>
              <div class="col-6 py-1">$2</div>
            </div>
          </div>
          <button type="button" class="btn btn-primary px-4 mx-auto mb-4" data-toggle="modal" data-target="#exampleModalLong">
            Join Now
          </button>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="https://assets.digination.id/crop/0x0:0x0/x/photo/2021/05/24/3657640278.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Tournament 2</h4>
            <p class="card-text">
              Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
              ipsum duo et no et, ipsum ipsum erat duo amet clita duo
            </p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Level</strong>
              </div>
              <div class="col-6 py-1">Amateur</div>
            </div>
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Total Slots</strong>
              </div>
              <div class="col-6 py-1">20 Teams</div>
            </div>
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Time</strong>
              </div>
              <div class="col-6 py-1">08:00 - 10:00</div>
            </div>
            <div class="row">
              <div class="col-6 py-1 text-right border-right">
                <strong>Enter Fee Fee</strong>
              </div>
              <div class="col-6 py-1">$2</div>
            </div>
          </div>
          <button type="button" class="btn btn-primary px-4 mx-auto mb-4" data-toggle="modal" data-target="#exampleModalLong">
            Join Now
          </button>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="card border-0 bg-light shadow-sm pb-2">
          <img class="card-img-top mb-2" src="https://assets.digination.id/crop/0x0:0x0/x/photo/2021/05/24/3657640278.jpg" alt="" />
          <div class="card-body text-center">
            <h4 class="card-title">Tournament 3</h4>
            <p class="card-text">
              Justo ea diam stet diam ipsum no sit, ipsum vero et et diam
              ipsum duo et no et, ipsum ipsum erat duo amet clita duo
            </p>
          </div>
          <div class="card-footer bg-transparent py-4 px-5">
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Level</strong>
              </div>
              <div class="col-6 py-1">Amateur</div>
            </div>
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Total Slots</strong>
              </div>
              <div class="col-6 py-1">20 Teams</div>
            </div>
            <div class="row border-bottom">
              <div class="col-6 py-1 text-right border-right">
                <strong>Time</strong>
              </div>
              <div class="col-6 py-1">08:00 - 10:00</div>
            </div>
            <div class="row">
              <div class="col-6 py-1 text-right border-right">
                <strong>Enter Fee Fee</strong>
              </div>
              <div class="col-6 py-1">$2</div>
            </div>
          </div>
          <button type="button" class="btn btn-primary px-4 mx-auto mb-4" data-toggle="modal" data-target="#exampleModalLong">
            Join Now
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Community Tournament</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Username</label>
                <input type="Username" class="form-control" id="inputUsername4" placeholder="Username">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Phone</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="08...">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Squad</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Eagles, RRQ, Evos">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Game</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Lokapala</option>
                  <option>Mobile Legend</option>
                  <option>PUBG</option>
                  <option>CS:GO</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Siap Mengikuti Aturan yang berlaku
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="Submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Community Tournament</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Username</label>
                <input type="Username" class="form-control" id="inputUsername4" placeholder="Username">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Phone</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="08...">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Squad</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Eagles, RRQ, Evos">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">Game</label>
                <select id="inputState" class="form-control">
                  <option selected>Choose...</option>
                  <option>Lokapala</option>
                  <option>Mobile Legend</option>
                  <option>PUBG</option>
                  <option>CS:GO</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Siap Mengikuti Aturan yang berlaku
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="Submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Join Tournament End-->

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="https://lampung.rilis.id/image/2022/01/25qAu0mqK_SAVE_20220125_195822.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">Join Tournament Ini SEKARANG !!!</h5>
    <p>Buat squad kalian yang tertarik mengikuti Turnament disamping, ayoo daftarkan squad kalian di turnamen mobile legend ini, dalam acar HEC TOURNAMENT CHAMPIONSHIP dan menangkan hadiah total 10 Juta Rupiah. Selamat Bertanding !!! Salam Olahraga !! </p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6j29L7RGOBh9nKfqZCFtFIS1HjYVPzekXMV5aTXoV8lUK-w/viewform" class="stretched-link">Isi Form Pendaftaran</a>
  </div>
</div>
</div>

<br>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i> LAPAK ESPORT
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href=" ">LapakEsport.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

{% endblock %}