{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}
<style>
    #btn-back-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      display: none;
    }
  </style>
<br>
<h2 class="text-center">NEWS</h2>
<br>
<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-lg-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Pubg Mobile</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Valorant</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://cdn.antaranews.com/cache/360x240/2021/03/29/kNuoJsRspgv4Gdp0dysPgN23qS79tJQ8d5OOQW9L.jpg" class="img-fluid" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et urna ipsum. Morbi sagittis, lorem a tempus pellentesque, magna leo interdum est, 
            at faucibus lectus mi lobortis mauris. Sed nibh diam, ultrices non condimentum et, dignissim ac magna.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>

<!-- auto scrollback button -->
<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>
  <div class="container mt-4 text-center" style="height: 100px">
    <p>
      Start scrolling the page and a red
      <strong>"Back to top" button </strong> will appear in the
      <strong>bottom right corner</strong> of the screen.
    </p>
    <p>Click this button and you will be taken to the top of the page.</p>
  </div>

{% endblock %}