{% extends "base.html" %} {% block title %} Team {% endblock %}
{% block content%}
<br>
<form method="POST" action="">
    <h3 align="center">Team</h3>
    <label for="game">Game</label>
    <select class="form-select" id="game" name="game">
        <option selected></option>
        <option value="Mobile Legends">Mobile Legends</option>
        <option value="PUBG">PUBG</option>
        <option value="PUBG Mobile">PUBG Mobile</option>
        <option value="Clash of Clans">Clash of Clans</option>
        <option value="Counter-Strike: Global Offensive">Counter-Strike: Global Offensive</option>
        <option value="Dota 2">Dota 2</option>
        <option value="Tom Clancy's Rainbow Six Siege">Tom Clancy's Rainbow Six Siege</option>
        <option value="Clash Royale">Clash Royale</option>
        <option value="Point Blank">Point Blank</option>
        <option value="Apex Legends">Apex Legends</option>
    </select>
    <label for="platform">Platform</label>
    <select class="form-select" id="platform" name="platform">
        <option selected></option>
        <option value="PC">PC</option>
        <option value="Mobile">Mobile</option>
        <option value="Console">Console</option>
        <option value="Multiplatform">Multiplatform</option>
    </select>
    <br>
    <div class="form-group">
        <label for="name">Team Name</label>
        <input type="name" class="form-control" id="name" name="name" placeholder="Enter Team Name">
    </div>

    <div class="form-floating">
        <label for="deskripsi">Description</label>
        <textarea class="form-control" id="deskripsi" name="deskripsi" style="height: 100px"></textarea>
      </div>
      <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}